
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.discounts{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: .4em 0;
  color:white;
  background-color:black;
}
.discounts p{
  padding-right: 5em;
}
.nav-container{
  background-color: #42B83A;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 3em;

}
 .nav-container h1{
  align-items: center;
}
span{
  color: white;
}
strong{
  color: red;
}
 .nav-content{
  display: flex;
  justify-content:space-between;
  gap: 1em;

}
.btn1{
  padding: 1em 2em;
  background-color: #000000;
  color: white;
  border-radius: .5em;
  margin: .8em 0;

}
.btn2{
  color: white;
  background-color: red;
  padding: 1em 2em;
  border-radius: .5em;
  margin: .8em 0;

  
}
.btn3{
  color:white;
  background-color: #000000;
  padding: 1em 2em;
  border-radius: .5em;
  margin: .8em 0;


}
.container1{
  display: flex;
  flex-direction: column;
  background-color: black; 
  color: white;  
  padding: 2em 0;
  gap: 1em;
  align-items: center;
  justify-content: center;
}
.homee{
  display: flex;
  align-items: center;
  gap: 1em;
}
.home-address{
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid teal  2px;
  border-radius: 2px;
  background-color: white;

}

.home-address input{
  width: 130px;
  padding: 1.5em 0;
  border-radius: 5px;
  border: none;
}

.home-address input:focus{
  outline: none;
}
.find{
  color: red;
}
.form input{
  width: 550px;
  color: #AFDDF7;
  padding: 1.5em 0;
  border: none;
}
.form{
  background-color: white;
  display: flex;
  border: 2px  solid  lightseagreen;
  align-items: center;
  border-radius: 5px;

}
.form input:focus{
  outline: none;
}
.form-icon{
  color: #61C55F;
}

.service{
  display: flex;
  gap: .2em;
  margin: 1em 0 ;
}

.right-content{
  margin: 2em 0;
}
.main-container{
  display: flex;
  justify-content: space-between;
  background-color: black ;
  color: white;
  
}
.main-container img{
  border: 3px  solid grey;
  border-radius: 5px;
}
.main-products{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3em;
  
}
.main-products p{
  font-family:rampat one;
  font-size: 1.3rem;
}

.product{
  display: flex;
  justify-content: space-between;
  background-color: #42B83A;

}
.category-item{
  display: flex;
  align-items: center;
  justify-content:center;
  background-color: white;

}
.category-item h3{
  text-align: center;
  color: red;
  font-family: rampat one;
  font-weight: 500;
}
.body-pattern{
  display:flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
}
.body-container h4{
 text-align: center;
 color: red;
 font-family: rampat one;
 font-size: 2rem;
 font-weight: 500;
}
.body-container{
  background-color: #42B83A;
}

.search-card{
  width: 500px;
  text-align: center;
  padding: 1em 0;
  border-radius: 5px;
  background-color: #000000;
  color: white;
}
.signup-container{
  display: flex;
  margin-top:1em ;
  align-items: center;
  justify-content: center;
}
.signup-details{
  display: flex;
  gap: 1em;
  margin: .8em 0;
  padding: .8em 0;
}
.signup-details input{
  border-radius: 5px;
  width: 200px;
  padding: .8em  0;
}

.categories input{
width: 525px;
margin: .8em 0;
padding: .8em 0;
border-radius: 5px;
}
.register{
  width: 550px;
  background-color: #42B83A;
  border-radius: 5px;
  color: white;
  padding: .8em 0;
}
.kinda-details{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #42B83A;

}
.kinda-details h3{
  text-align: center;
  color: white;
  font-family: rampat one;


}
.kinda-details p{
  color: 000;
  font-weight: 50px;
  font-size: 1.3rem;
  color: white;
  font-family: rampat one;
}
.car-info{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5em;
}

.car-info select{
  width: 200px;
  border-radius: 4px;
  padding: .5em 0;
}
.car-info button{
  width: 130px;
  border-radius: 5px;
  padding: .5em  0;
  background-color: #c53131;
  color: white;
}
.car-container{
  background-color: black;

}
.car-container h4{
  text-align: center;
  color:white;
  font-family: rampat one;
  font-weight: 400px;
}
.findcars{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #42B83A;
}
.findcars h3{
  color: white;
  font-family: rampat one;
}
.findcars p{
  font-size: 1.3rem;
  width: 800px;
  font-family: rampat one;
  color: white;
}
.findcars button{
  width: 150px;
  padding: 1em 0;
  border-radius: 5px;
  background-color: red;
  color: white;
}
.product-add{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.product-add input{
  display: flex;
border-radius: 5px;
width: 400px;
padding: .8em  0;
margin: 1em 0;
}

.product-add button{
  padding: .8em  0;
  width: 300px;
  border-radius: 5px;
  background-color: red;
  color: white;
}

.footer-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-color: #000000;
}
.footer-container p{
  color: white;
  text-align: center;
}
.footer-container ul li{
  list-style-type: none;
  color: white;
}
.footer-container ul li:hover{
  color: red;
}
.footer-container  a{
  text-decoration: none;
}
.newsletter{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color:black;
  color: white;
}
.newsletter p{
  font-weight: 300px;
  font-size: 1.3rem;
  font-family: rampat one;
}
.sub{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  background-color: #000000;

}
.sub input{
  border-radius: 5px;
  padding: .8em 0;
  width: 300px;
}
.singleproduct{
  background-color: #42B83A;
}
.product-end{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 2px   solid  lightgray;

}
.maked{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
  
}
.login-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #42B83A;
}
.login-container h3{
  color: white;
  font-family: rampat one;
}
.sign{
  display: flex;
  gap: 1em;
}
.user-info{
  display: flex;
  align-items: center;
  border: 2px  solid   grey;
  border-radius: 5px;
  background-color: white;
  padding: .5em  0;
  margin: .5em  0;

}
.user-info input{
  border: none;
  outline: none;
  width: 250px;
}
.password{
  display: flex;
  align-items: center;
  border: 2px  solid   grey;
  border-radius: 5px;
  background-color: white;
  padding: .5em  0;
  margin: .8em  0;
}

.password input{
  border: none;
  outline: none;
  width: 250px;
}
.log{
  width: 250px;
  border-radius: 5px;
  padding: .7em;
  background-color: black;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
}
.log:hover{
  color: red;
}
.sign-up{
  padding: .5em  0;
  width: 90px;
  border-radius: 3px;
  background-color: black;
  color:white;
  font-size: 1.2rem;
}
.sign-up:hover{
  background-color: red;
  cursor: pointer;
}
.sign p{
  font-size: 1.4rem;
  color: blue;
  font-family: rampat one;
}
.bottom-link{
  text-align: center;
  font-size: 1.3rem;
  font-family: rampat one;
}
.allproducts{
  background-color: black;
  color: white;
}
.categorized-products{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2em;
}
.categorized-products img{
  border: 2px   solid  grey;
  border-radius: 5px;

}

