
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.discounts{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: .4em 0;
  color:white;
  background-color:black;
}
.discounts p{
  padding-right: 5em;
}
.nav-container{
  background-color: #42B83A;
  

}
 .nav-links a:first-child{
   text-decoration: none;
   color: white;
}
.nav-links{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 3em;
  width: 90%;
  margin: 0 auto;

}
span{
  color: white;
  font-family: rampat one;
}
 .nav-content{
  display: flex;
  justify-content:space-between;
  gap: 1em;

}
.btn1{
  padding: 1em 2em;
  background-color: #000000;
  color: white;
  border-radius: .5em;
  margin: .8em 0;

}
.btn2{
  color: white;
  background-color: red;
  padding: 1em 2em;
  border-radius: .5em;
  margin: .8em 0;

  
}
.btn4{
  color: white;
  background-color: red;
  padding: 1em 2em;
  border-radius: .5em;
  margin: .8em 0;
}
.btn3{
  color:white;
  background-color: #000000;
  padding: 1em 2em;
  border-radius: .5em;
  margin: .8em 0;
}
.container1{
  display: flex;
  flex-direction: column;
  color: white;  
  padding: 2em 0;
  gap: 1em;
  align-items: center;
  justify-content: center;
}
.find{
  color: red;
}
.search-form input{
  width: 550px;
  padding: 1.5em;
  border: none;
  border-radius: 50%;
}
.search-form{
  display: flex;
  border: 2px  solid  black;
  align-items: center;
  border-radius: 50px;
  margin-top: 1em;

}
.search-form input:focus{
  outline: none;
}
.search-model{
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  height: 50vh;
}
.search-icon{
  font-size: 50px;
  border-radius: 50px;
}

.search{
  width: 35%;
  margin-left: 10em;
}
.search h1{
  font-size: 3rem;
}

.service{
  display: flex;
  gap: .2em;
  margin: 1em 0 ;
}

.right-content{
  margin: 2em 0;
} 

.main-products{
  padding:2em 0;
  display: flex;
  width: 95%;
  margin: 0 auto;
  flex-wrap: wrap;
  gap: 2em;
  
}
.main-products p{
  font-family:rampat one;
  font-size: 1.3rem;
}

.product{
  display: flex;
  justify-content: space-between;
  background-color: #42B83A;

}
.category-item{
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content:space-around;

}
.item-cost{
  text-align: center;
  margin: 3em 0;
}
.item-cost h3{
  margin-bottom:1.5em;
  font-family: rampat one;
  color: red;
  font-weight: bold;
  font-size: 2.3rem;

}
.body-pattern{
  display:flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
}
.body-container h4{
 text-align: center;
 color: red;
 font-family: rampat one;
 font-size: 2.3rem;
 font-weight: bold;
}
.body-container{
  background-color:white;
  margin:2em 0;
}
.map-item{
  box-shadow: 4px 5px 4px lightgray;
}
.search-card{
  width: 500px;
  text-align: center;
  padding: 1em 0;
  border-radius: 5px;
  background-color: #000000;
  color: white;
}
.signup-container{
  display: flex;
  justify-content: center;
  width:700px;
  height: 500px;
  margin: 0 auto;
  margin-top: 4.5em;
  box-shadow: 7px 6px 7px 6px  lightgray;

}
.signup-details{
  display: flex;
  gap: 1em;
  margin: .8em 0;
  padding: .8em 0;

}
.signup-details input{
  border-radius: 5px;
  width: 500px;
  padding: .8em  0;
}
.signup-details input:focus{
  outline: none;
}

.categories input{
width: 500px;
margin: .8em 0;
padding: .8em 0;
border-radius: 5px;
}
.categories input:focus{
  outline: none;
}
.register{
  width: 200px;
  background-color: red;
  border-radius: 5px;
  color: white;
  padding: .8em 0;
  cursor: pointer;
}

.findcars{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:rgb(9, 9, 109);
}
.findcars h3{
  color: white;
  font-family: rampat one;
  font-weight: bold;
}
.findcars p{
  font-size: 1.3rem;
  width: 800px;
  font-family: rampat one;
  font-weight: bold;

  color: white;
}
.findcars button{
  width: 150px;
  padding: 1em 0;
  border-radius: 5px;
  background-color: red;
  color: white;
}
.product-add{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.product-add input{
  display: flex;
border-radius: 5px;
width: 400px;
padding: .8em  0;
margin: 1em 0;
}

.product-add button{
  padding: .8em  0;
  width: 300px;
  border-radius: 5px;
  background-color: red;
  color: white;
  cursor: pointer;
}

.footer-container{
  display: flex;
  margin-top: 2em;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.footer-container h3{
  color: white;
  text-align: center;
  margin-top: 2em;

}
.footer-container ul li{
  list-style-type: none;
  color: white;
  margin: .8em 0;
}
.footer-container ul li:hover{
  color: red;
}
.footer-container  a{
  text-decoration: none;
}
.footer-background{
  background-color:  rgb(24, 22, 22);
}
.newsletter{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color:  rgb(24, 22, 22);
  color: white;
}
.newsletter p{
  font-weight: 300px;
  font-size: 1.3rem;
  font-family: rampat one;
}
.subscribe{
  padding: 1em ;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  margin-bottom: 1em;

}
.subscribe:hover{
  background-color: rgb(22, 22, 122);
}
.sub{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:  rgb(24, 22, 22);
  gap: 2rem;

}
.sub input{
  border-radius: 5px;
  padding: 1em 0;
  width: 750px;
  margin-bottom: 1em;
  padding-left: 1em;
}
.sub input:focus{
  outline: none;
}
.sub input~:focus{
outline: none;
}
.login-container{
  box-shadow: 7px 5px 8px 8px lightgrey;
  width:600px;
  height:500px;
  gap: 1em;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
margin-top: 4.5em;

}
.login-container h2{
  font-weight: bold;
  font-size: 2rem;
  font-family: rampat one;
}
.sign{
  display: flex;
  margin: 1em 0;
  gap: 1em;
}
.user-info{
  display: flex;
  align-items: center;
  border: 2px  solid   grey;
  border-radius: 5px;
  background-color: white;
  padding: .5em  0;
  margin: .5em  0;

}
.user-info input{
  border: none;
  outline: none;
  width: 250px;
}
.user-info input:focus{
  outline: none;
}
.password{
  display: flex;
  align-items: center;
  border: 2px  solid   grey;
  border-radius: 5px;
  background-color: white;
  padding: .5em  0;
  margin: .8em  0;

}

.password input{
  border: none;
  outline: none;
  width: 250px;
}
.password input:focus{
outline: none;
}
.log{
  width: 200px;
  border-radius: 5px;
  padding: .7em;
  background-color: black;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
}
.log:hover{
  color: red;
}
.sign-up{
  padding: .5em  0;
  width: 90px;
  border-radius: 3px;
  background-color: black;
  color:white;
  font-size: 1.2rem;
}
.sign-up:hover{
  background-color: red;
  cursor: pointer;
}
.sign p{
  font-size: 1.4rem;
  color: blue;
  font-family: rampat one;
}
.bottom-link{
  text-align: center;
  font-size: 1.3rem;
  font-family: rampat one;
  background-color:#42B83A;
  color: white;
}
.allproducts{
  padding: 1em 0;
}
.categorized-products{
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  margin: 0 auto;
  gap: 2em;
}

.small-img{
  display: flex;
  gap: 1em;
}
.singleproduct{
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  margin: 1em 0;
 
}
.singleproduct img{
  border-radius: 5px;
}
.myparagraph{
  box-shadow: 5px 6px 5px lightgrey;
}
.myparagraph p{
  margin: 1em 0;

}
.jan{
  box-shadow: 5px 4px 6px grey;
  width: 600px;
  height: 400px;
  text-align: center;
}

